<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">        
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}:%line %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

	<!-- This affects logging for both user code and Flink -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <logger name="akka" level="ERROR">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.kafka" level="INFO">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.hadoop" level="ERROR">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.zookeeper" level="ERROR">
        <appender-ref ref="console"/>
    </logger>

    <!-- Suppress the irrelevant (wrong) warnings from the Netty channel handler -->
    <logger name="org.apache.flink.shaded.akka.org.jboss.netty.channel.DefaultChannelPipeline" level="ERROR">
        <appender-ref ref="console"/>
    </logger>
</configuration>
